.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  background-color: white;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  border: none !important;
}

.actions {
  display: flex;
  justify-content: center;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-row i {
  font-size: 10px;
}

.big-bold {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}

.small-light {
  font-size: 12px;
  color: #969696;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
  font-size: 16px;
}

#submit {
  width: 100%;
  margin-top: 10px;
}

#counter {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.btn-primary {
  background-color: #FF5A5F;
  padding: 16px 24px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #FF5A5F;
}

.btn-form {
  text-decoration: none;
  background-color: rgba(84, 160, 255, 0.7);
  color: #0a3d62;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
}

.incrementer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form:hover {
  background-color: rgba(84, 160, 255, 1.0);
}

.btn-form:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90vw;
  }
  .flex-between {
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin: 1em auto;
  }
  .actions {
  margin-top: 3em;
  padding: 0;
  }
  .round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 16px;
  color: #848484;
  padding: 0.5em;
  margin: 0 1em 0 1em;
  }
  #counter {
    font-size: 16px;
  }
  h4 {
    font-size: 16px;
  }
  .btn-form {
  text-decoration: none;
  background-color: rgba(84, 160, 255, 0.7);
  color: #0a3d62;
  padding: 1em 1.5em;
  border-radius: 4px;
  margin: 2em 0;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  }
  .big-bold {
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
  }
  .small-light {
    font-size: 16px;
    color: #969696;
  }
}


