.month {
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}

.header-calendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 24px;
  padding: 0 20px;
  color: #2d3436;
  opacity: 0.9;
}

.on {
  background-color: #55efc4;
  color: #00b894;
}

.other-month {
  color: rgba(0,0,0,0.3);
}

.on-special {
  background-color: #0984e3;
  color: white;
  border-radius: 20px;
  width: 20px;
  font-weight: bolder;
}

.first {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.last {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week {
  padding: 3px 5px;
  margin: 0;
  width: 100%;
  text-align: center;
  margin: 3px 0;
}

@media (max-width: 1200px) {
  .month {
    width: 80vw;
    margin: 1em 0;
  }
  .to-mask {
    display: none;
  }
  .day {
    font-size: 30px;
    margin: 0.5em 0;
  }
  .week {
    font-size: 30px;
    margin: 0.5em 0;
  }
  .header-calendar {
    padding-bottom: 1em;
    font-weight: bolder;
  }
}
