.dev-cards {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0 auto;
  width: 80vw;
}

.dev-title {
  font-size: 24px;
  position: relative;
}

.dev-title-under {
  position: absolute;
  height: 15px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  bottom: 0px;
}

.card-info-text {
  text-align: left;
}

.dev-card {
  padding:1em;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}


.dev-images {
  height: 368px;
  width: 600px;
  display: flex;
  overflow: auto;
  padding: 0.5em 0;
  border-radius: 4px;
  border: solid 1px rgba(0,0,0,0.1);
}

.dev-images-center {
  height: 368px;
  width: 600px;
  display: flex;
  overflow: auto;
  padding: 0.5em 0;
}

.height-max-img {
  height: 100%;
  border-radius: 4px;
  margin: 0 0.5em;
}


.card-info-dev {
  padding: 0.5em 0 0 2em;
  min-height: 100%;
  font-family: 'Roboto Slab';
  font-weight: lighter;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 70%;
}

.card-info h3,
.card-info p {
  font-weight: bolder;
  margin: 0;
  text-align: left;
  width: 100%;
}

.card-info p {
  font-weight: lighter;
}

@media (max-width: 1200px) {
  .dev-cards {
  width: 96vw;
  margin: 0 auto;
  }
  .dev-card {
    flex-direction: column;
    width: 94%;
    padding: .5em;
    margin: 0 auto 2em auto;
  }
  .dev-card:last-child {
    margin-bottom: 0;
  }
  .dev-images {
    width: 100%;
    height: 70vh;
    overflow: auto;
  }
  .calendar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .dev-images-center {
    width: 100%;
    height: 70vh;
  }
  .card-info-dev {
  padding: 0.5em 0 0 0;
  }
  .card-info-text h3,
  .card-info-text p {
  max-width: 94%;
  padding: 0;
  }
}



