.dev-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 2em 0;
}

.card-info-text {
  text-align: left;
}

.dev-card {
  padding:1em;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

.dev-images {
  height: 368px;
  width: 600px;
  display: flex;
  overflow: auto;
  padding: 0.5em 0;
}

.dev-images-center {
  height: 368px;
  width: 600px;
  display: flex;
  overflow: auto;
  padding: 0.5em 0;
}

.one-third-img {
  min-width: 207px;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin: 0 0.5em;

}

.main-img h2 {
  font-family: 'Roboto Slab';
  font-weight: bolder;
  font-size: 64px;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-info-dev {
  padding: 0.5em 0 0 1em;
  min-height: 100%;
  font-family: 'Roboto Slab';
  font-weight: lighter;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 70%;
}

.card-info h3,
.card-info p {
  font-weight: bolder;
  margin: 0;
  text-align: left;
  width: 100%;
}

.card-info p {
  font-weight: lighter;
}



