.section {
  background-color: white;
  margin: 40px;
  padding: 50px;
  box-shadow: 2px 2px 20px #c8d6e5;
}

.rugby {
  background-image: url("../images/vrp.jpg");
  background-size: cover;
}

.water {
  background-color: rgba(250, 250, 250, 1);
}

.img-circle {
  border-radius: 50%;
  height: 100px;
}

.img-card {
  border-radius: 4px;
  height: 170px;
  margin: 0 10px 10px 10px;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline-block;
}

.list-inline li a {
  background-color: white;
  font-size: 2em;
  color: rgba(149, 165, 166, 0.4);
}

.list-inline li a:hover {
  color: rgba(149, 165, 166,1.0);
}

.container {
  margin: 0 auto;
  width: 900px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .section {
  margin: 10px;
  padding: 5px;
  }
}
